/* box-shadow: 4px 4px 70px 30px rgba(0, 0, 0, 0.25); */

.container {
  width: 100%;
  height: 100vh;
  padding: 8% 10%;
}

.insightTooltip {
  border: 1px solid #002446;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.pieInfoMenu {
  padding: 1px 0 1px 2% !important;
  color: #0d274d;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 480px) {
  .MuiPaper-root.makeStyles-piePaper-38.piePaper.MuiPaper-elevation24.MuiPaper-rounded {
    width: 90%;
    margin: 5% auto;
  }
  .MuiGrid-root.makeStyles-pieBox-40.pieBox.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-6 {
    height: 330px;
  }
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: -15% auto 5%;
  }
  h3.MuiTypography-root.undefined.pieTitle.MuiTypography-h3 {
    font-size: 1.8rem;
  }
  p.MuiTypography-root.makeStyles-pieInfo-42.pieInfo.MuiTypography-body1 {
    font-size: 0.9rem;
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: -8% auto 8%;
  }
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: -8% auto 8%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1281px) {
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: 15% auto 8%;
  }

  .pieDetail {
    margin-top: 10%;
  }
  .pieInfo .pieInfoList {
    font-size: 1rem !important;
  }
  .pieTitle {
    font-size: 2rem;
  }
  .piePaper {
    height: 600px !important;
  }
  .pieBox {
    margin: 3% 0 2% 0 !important;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: 15% auto 8%;
  }

  .piePaper {
    height: 816px !important;
    padding-top: 4%;
  }
  .pie {
    top: 10%;
  }
  .pieDetail {
    margin-top: 10%;
  }
  .pieInfo .pieInfoList {
    font-size: 1.5rem !important;
  }
  .pieTitle {
    font-size: 3rem;
  }
}
@media screen and (min-width: 2560px) and(max-width:3840px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: 15% auto 8%;
  }

  .piePaper {
    height: 816px !important;
    padding-top: 4%;
    margin-top: 5%;
  }
  .pie {
    top: 10%;
  }
  .pieDetail {
    margin-top: 10%;
  }
  .pieInfo .pieInfoList {
    font-size: 1.7rem !important;
  }
  .pieTitle {
    font-size: 3rem;
  }
}

@media screen and (min-width: 3840px) and (max-width: 7680px) {
  .MuiBox-root.MuiBox-root-46.makeStyles-pieDetail-41.pieDetail {
    margin: 15% auto 8%;
  }

  .piePaper {
    height: 816px !important;
    padding-top: 4%;
    margin-top: 5%;
  }
  .pie {
    top: 10%;
  }
  .pieDetail {
    margin-top: 10%;
  }

  .pie {
    top: 10%;
  }
  .pieDetail {
    margin-top: 10%;
  }
  .pieInfo .pieInfoList {
    font-size: 2rem !important;
  }
  .pieTitle {
    font-size: 4rem;
  }
}
