/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 479px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3% 4%;
    text-shadow: 2px 2px black;
    font-size: 40px;
    width: 60%;
    bottom: 45%;
  }
  .infoBlock .informationBar {
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 2%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 0.5rem;
    opacity: 1;
  }

  .progressBars {
    width: 78%;
    bottom: 38%;
    margin: 0 5%;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 0% 4%;
    text-shadow: 2px 2px black;
    font-size: 35px !important;
    width: 70%;
    bottom: 40%;
  }
  .infoBlock .informationBar {
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 5%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 3% 1% 2%;
    font-size: 0.7rem;
    opacity: 1;
  }
  .progressBars {
    width: 70%;
    bottom: 33%;
    margin: 0 5%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1023px) {
  .infoBlock .informationBar {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 12%;
  }
  .informationBar .informationMsgContainer {
    width: 90%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
    opacity: 0.8;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 0.8rem;
    opacity: 1;
  }
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3% 4%;
    text-shadow: 2px 2px black;
    font-size: 35px !important;
    width: 65%;
    bottom: 40%;
  }

  .progressBars {
    width: 60%;
    bottom: 33%;
    margin: 0 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1219px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3% 4%;
    text-shadow: 2px 2px black;
    font-size: 40px !important;
    width: 60%;
    bottom: 40%;
  }
  .infoBlock .informationBar {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 12%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 1rem;
  }
  .progressBars {
    width: 60%;
    bottom: 35%;
    margin: 0 5%;
  }
}

@media screen and (min-width: 1220px) and (max-width: 1919px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3% 4%;
    text-shadow: 2px 2px black;
    width: 60%;
    bottom: 40%;
    font-size: 55px !important;
  }
  .infoBlock .informationBar {
    width: 60%;
    height: 60px;
    position: absolute;
    bottom: 20%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 24px;
  }
  .progressBars {
    width: 50%;
    bottom: 40%;
    margin: 0 5%;
  }
}

@media screen and (min-width: 1920px) {
  .sliderInformationBarTitle {
    margin-bottom: 2%;
    font-size: 60px !important;
    padding: 3% 4%;
    width: 60%;
    bottom: 40%;
  }
  .infoBlock .informationBar {
    width: 70%;
    height: 210px;
    position: absolute;
    bottom: 5%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 150px 150px 0;
    opacity: 0.8;
  }
  .informationMSG {
    padding: 1% 2%;
    font-size: 2rem !important;
  }
  .progressBars {
    width: 50%;
    bottom: 35%;
    margin: 0 5%;
  }
}
