svg {
  border-radius: 100px;
}

.pie {
  position: relative;
}

.pie .logoInside {
  position: absolute;
  top: 47%;
  padding: 6px 10px;
  left: 41%;
}

.pie .insight-text {
  position: absolute;
  font-size: 0.9rem;
  padding: 6px 10px;
  font-weight: 500;
}
.pie .button {
  position: absolute;
  font-size: 0.6rem;
  padding: 6px 10px;
  border-radius: 2rem !important;
  border: 1px double white !important;
  color: white !important;
}

.pie .insight-text-6 {
  top: 15%;
  left: 32%;
}

.pie .button-6 {
  top: 22%;
  left: 33%;
}

.pie .insight-text-5 {
  top: 38%;
  left: 15%;
}

.pie .button-5 {
  top: 45%;
  left: 18%;
}

.pie .insight-text-4 {
  top: 59% !important;
  left: 17% !important;
}
.pie .button-4 {
  top: 71% !important;
  left: 15% !important;
}

.pie .insight-text-3 {
  top: 78%;
  left: 42%;
}
.pie .button-3 {
  top: 85%;
  left: 45%;
}

.pie .insight-text-2 {
  top: 63%;
  left: 63%;
}
.pie .button-2 {
  top: 72%;
  left: 65%;
}

.pie .insight-text-1 {
  top: 38%;
  left: 66%;
}
.pie .button-1 {
  top: 45%;
  left: 70%;
}

.pie .insight-text-0 {
  top: 15%;
  left: 56%;
}
.pie .button-0 {
  top: 22%;
  left: 56%;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 480px) {
  .logoInside {
    min-width: 18% !important;
    max-width: 30% !important;
    top: 47% !important;
    left: 36% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.5rem;
    padding: 3px 8px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 30%;
    left: 26%;
  }

  .pie .button-6 {
    top: 34%;
    left: 25%;
  }

  .pie .insight-text-5 {
    top: 40%;
    left: 12%;
    min-width: 16%;
    max-width: 22%;
  }

  .pie .button-5 {
    top: 48%;
    left: 10%;
  }

  .pie .insight-text-4 {
    top: 56% !important;
    left: 15%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 64% !important;
    left: 15% !important;
    min-width: 18%;
    max-width: 24%;
  }

  .pie .insight-text-3 {
    top: 68%;
    left: 38%;
  }
  .pie .button-3 {
    top: 72%;
    left: 42%;
  }

  .pie .insight-text-2 {
    top: 58%;
    left: 63%;
  }
  .pie .button-2 {
    top: 63%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 43%;
    left: 68%;
  }
  .pie .button-1 {
    top: 48%;
    left: 72%;
  }

  .pie .insight-text-0 {
    top: 30%;
    left: 56%;
  }
  .pie .button-0 {
    top: 34%;
    left: 54%;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 47% !important;
    left: 43% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 0.8rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 18%;
    left: 28%;
  }

  .pie .button-6 {
    top: 26%;
    left: 28%;
  }

  .pie .insight-text-5 {
    top: 34%;
    left: 13%;
    min-width: 15%;
    max-width: 18%;
  }

  .pie .button-5 {
    top: 47%;
    left: 12%;
  }

  .pie .insight-text-4 {
    top: 63% !important;
    left: 17%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74% !important;
    left: 20% !important;
    min-width: 16%;
    max-width: 18%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
  }
  .pie .button-3 {
    top: 85%;
    left: 44%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 70%;
  }
  .pie .button-1 {
    top: 47%;
    left: 72%;
  }

  .pie .insight-text-0 {
    top: 18%;
    left: 56%;
  }
  .pie .button-0 {
    top: 26%;
    left: 56%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 45% !important;
    left: 43% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 32%;
  }

  .pie .button-6 {
    top: 22%;
    left: 32%;
  }

  .pie .insight-text-5 {
    top: 34%;
    left: 14%;
    min-width: 15%;
    max-width: 20%;
  }

  .pie .button-5 {
    top: 47%;
    left: 16%;
  }

  .pie .insight-text-4 {
    top: 61%;
    left: 17%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74%;
    /* left: 24%; */
    right: 10%;
    min-width: 18%;
    max-width: 21%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
  }
  .pie .button-3 {
    top: 85%;
    left: 44%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 66.5%;
  }
  .pie .button-1 {
    top: 47%;
    left: 69%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 45% !important;
    left: 43% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 32%;
  }

  .pie .button-6 {
    top: 22%;
    left: 32%;
  }

  .pie .insight-text-5 {
    top: 34%;
    left: 16%;
    min-width: 16%;
    max-width: 18%;
  }

  .pie .button-5 {
    top: 47%;
    left: 16%;
  }

  .pie .insight-text-4 {
    top: 61%;
    left: 17%;
    min-width: 18%;
    max-width: 21%;

    text-align: center;
  }
  .pie .button-4 {
    top: 74%;
    left: 20%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
  }
  .pie .button-3 {
    top: 85%;
    left: 44%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 66.5%;
  }
  .pie .button-1 {
    top: 47%;
    left: 69%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1509px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 45% !important;
    left: 43% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 32%;
  }

  .pie .button-6 {
    top: 22%;
    left: 32%;
  }

  .pie .insight-text-5 {
    top: 34%;
    left: 16%;
    min-width: 16%;
    max-width: 18%;
  }

  .pie .button-5 {
    top: 47%;
    left: 16%;
  }

  .pie .insight-text-4 {
    top: 61%;
    left: 22%;
    width: 15%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74%;
    left: 23%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
  }
  .pie .button-3 {
    top: 85%;
    left: 44%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 66.5%;
  }
  .pie .button-1 {
    top: 47%;
    left: 69%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}

@media screen and (min-width: 1510px) and (max-width: 1919px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 45% !important;
    left: 42% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 33%;
  }

  .pie .button-6 {
    top: 22%;
    left: 33%;
  }

  .pie .insight-text-5 {
    top: 34% !important;
    left: 20% !important;
    min-width: 14%;
    max-width: 15%;
  }

  .pie .button-5 {
    top: 47% !important;
    left: 20% !important;
  }

  .pie .insight-text-4 {
    top: 62% !important;
    left: 20% !important;
    width: 15%;
    text-align: center;
  }
  .pie .button-4 {
    top: 75% !important;
    left: 22% !important;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 42%;
  }
  .pie .button-3 {
    top: 85%;
    left: 45%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 64%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 66.5%;
  }
  .pie .button-1 {
    top: 47%;
    left: 69%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}

@media screen and (min-width: 1920px) {
  .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 45% !important;
    left: 41.3% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
    border: 1px double white !important;
    color: white !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 35%;
  }

  .pie .button-6 {
    top: 22%;
    left: 35%;
  }

  .pie .insight-text-5 {
    top: 35%;
    left: 25%;
    width: 12%;
  }

  .pie .button-5 {
    top: 47%;
    left: 25%;
  }

  .pie .insight-text-4 {
    top: 61%;
    left: 28%;
    width: 15%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74%;
    left: 29%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 44%;
  }
  .pie .button-3 {
    top: 85%;
    left: 46%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 61%;
  }
  .pie .button-2 {
    top: 73%;
    left: 63%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 63%;
  }
  .pie .button-1 {
    top: 47%;
    left: 65%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}
